.color-background-1 {
    background-color: #edcdd8;
}
.color-background-2 {
    background-color: #e9f4e4;
}
.color-background-3 {
    background-color: #c6e7ec;
}
.color-background-4 {
    background-color: #b5c7ef;
}

.color-text-1 {
    color: #edcdd8;
}
.color-text-2 {
    background-color: #e9f4e4;
}
.color-text-3 {
    background-color: #c6e7ec;
}
.color-text-4 {
    background-color: #b5c7ef;
}