
.game-name {
    text-align: center;
    display: inline-block;
}
.die-player-count {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    position: relative;
}

.tile {
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
}

.tile-1 {
    background-color: #edcdd8;
    color: #a90d1a;
    border-color: #440210;
}  
    .tile-1 .die-dash {
        background-color: #a90d1a;
    }
.tile-2 {
    background-color: #e9f4e4;
    color: #ebaa06;
    border-color: #9c5408;
}  
    .tile-2 .die-dash {
        background-color: #ebaa06;
    }
.tile-3 {
    background-color: #c6e7ec;
    color: #005b39;
    border-color: #063128;
}  
    .tile-3 .die-dash {
        background-color: #005b39;
    }
.tile-4 {
    background-color: #b5c7ef;
    color: #000f4f;
    border-color: #00072a;
}  
    .tile-4 .die-dash {
        background-color: #000f4f;
    }

.die-dash {
    position: absolute;
    top: -2px;
    right: 17px;
    width: 2px;
    height: 40px;
    transform: rotate(45deg);
}
    .die-player-count .qwixx-die-tiny.die-top-left{
        position: absolute;
        top: -12px;
        right: 18px;
    }

    .die-player-count .qwixx-die-tiny.die-bottom-right{
        position: absolute;
        top: 5px;
        right: 2px;
    }

    .dynamicTile .col-sm-2.col-xs-4 {
        padding: 5px;
    }

    .bigicon {
        font-size: 67px;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .icontext {
        font-size: 27px;
    }

    .bigicondark {
        font-size: 67px;
        color: black;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .icontextdark {
        color: black;
        font-size: 27px;
    }

    .dynamicTile .col-sm-4.col-xs-8 {
        padding: 5px;
    }


    .tilecaption {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        margin: 0!important;
        text-align: center;
        font-family: Segoe UI;
        font-weight: lighter;
    }